<div class="sidenav">
  <ul class="list-unstyled">
      <li class="nav-item">
          <a class="nav-link" routerLink="/"><img src="../../assets/icons/list.png" alt=""></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create"> <img src="../../assets/icons/add.png" alt=""></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"><img src="../../assets/icons/login.png" alt=""></a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="/signup"><img src="../../assets/icons/signup.png" alt=""></a>
      </li>
  </ul>
  </div>
